@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Bebas +Neue & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

body{
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: wheat;
    overflow: hidden;
}
#voltar{/*div do btn de voltar para a home*/
    width: 30px;                    
    display: inline-block;
    margin-right: 90%;
    padding: 2px;
    background-color: transparent;
}
#btnVoltar{/*botao de voltar para a home*/
    background-color: transparent;        
    border: none;
    height: 50px;
    width: 50px;
}
#btnVoltar:hover{/*botao de voltar para a home*/
    background-color: #ed1c23;
    border-radius: 20px;
}
#imgVoltar{/*imagem do botão de voltar*/
    height: 30px;
    width: 30px;
}
#placar{    /*div do placar*/
    display: flex;
    flex-direction: row;
    margin: 50px auto;
}
#jogador, #computador{  /*imagens dos simbolos*/
    margin: 20px auto;
    
}
#pontos-jogador, #pontos-computador, #versus{   /*placar*/
    font-family: "Micro 5", sans-serif;
    font-size: 2.3em;
}
.containerJogo{/*conteúdo principal da pág do jogo*/
    margin: -20px auto 70px;
    text-align: center;                     
    padding: 1px;
    background-color: #ed1c23;
    height: 600px;
    width: 600px;
    border-radius: 13px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.736);
}
.quadro{  /*quadro das jogadas*/
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}
.celula{    /*posições dentro do quadro*/
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
footer {
  position: absolute;
  bottom: -28px;
  left: 5px;
  width: 60px;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}
#icon-jv {
  width: 50px;
}

@media (max-width: 900px){
    .containerJogo{
        margin: 50px auto;
        width: 98%;
    }
}

@media (max-height: 700px) and (max-width: 700px){
    .containerJogo{
        margin: -20px auto;
    }
    #voltar{
        margin-top: -10px;
        margin-bottom: 20px;
    }
    footer{
        width: 8%;
        margin-bottom: -20px;
    }
    #icon-jv{
        width: 100%;
    }
}