@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Bebas +Neue & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

body{
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: wheat;
    overflow: hidden;
}
#voltar{/*div do btn de voltar para a home*/
    width: 30px;                    
    display: inline-block;
    margin-right: 90%;
    padding: 2px;
    background-color: wheat;
}
#btnVoltar{/*botao de voltar para a home*/
    background-color: wheat;        
    border: none;
    height: 50px;
    width: 50px;
}
#btnVoltar:hover{/*botao de voltar para a home*/
    background-color: #ed1c23;
    border-radius: 20px;
}
#imgVoltar{/*imagem do botão de voltar*/
    height: 30px;
    width: 30px;
}
.containerJogo{/*conteúdo principal da pág do jogo*/
    margin: 50px auto 70px;
    text-align: center;                     
    padding: 1px;
    background-color: #ed1c23;
    height: 660px;
    width: 600px;
    border-radius: 13px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.736);
}
h3{   /*escolha jogador*/
    margin: 30px auto;
    width: 300px;
    height: 100px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}
#botoes-escolha{ /*botao de escolha do jogador*/
    padding: 10px;
    margin: 20px auto;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#botoes-escolha img{
    width: 60%;
}
#botoes-escolha p{
    font-size: 3em;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0px auto;
}
#btn-xis, #btn-bola{ /*escolha*/
    margin: 10px 50px;
    width: 70%;
    height: 90%;
    background-color: #ea171e;
    border: none;
    border-radius: 20%;
}
#btn-xis:hover, #btn-bola:hover{
    scale: 1.05;
    cursor: pointer;
}
#pre-jogo{  /*boa sorte*/
    margin: 10px auto;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.8em;
    font-style: normal;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 1px 1px rgb(53, 53, 53);
}
#jogar{     /*div botao de jogar*/
    margin: 10px auto;
    height: 90px;
}
#btn-jogar{ /*botao de jogar*/
    background-color: wheat;
    margin: 30px auto;
    height: 47px;
    width: 170px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.251);
    font-family: "Jaro", sans-serif;
    font-size: 1.3em;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}
#btn-jogar:hover{
    scale: 1.01;
    cursor: pointer;
}
.quadro{  /*quadro das jogadas*/
    height: 300px;
    margin: 50px auto;
    padding: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}
.celula{    /*posições dentro do quadro*/
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
footer {
  margin-top: 0px;
  width: 60px;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}
#icon-jv {
  width: 50px;
}

@media (max-width: 700px) {
    body {
        overflow: hidden;
        margin: auto;
        text-align: center;
    }
    .containerJogo {
        /*conteúdo principal da pág home*/
        margin: 10px auto;
        margin-bottom: 20px;
        text-align: center;
        height: 600px;
        width: 90%;
        border-radius: 7px;
        box-shadow: 1px 1px 5px 8px rgba(0, 0, 0, 0.037);
    }
    footer #icon-ppt{
        margin: 20px;
    }
}
